.pods-form table.form-table {
  display: none
}

.pods-form table.form-table label.pods_inline_title {
  color: #23282d;
  font-size: 1.3em;
  margin: 0 10px 0 0;
}

.pods-form table.form-table label.pods_hidden_label,
.pods-form table.form-table td.pods_hidden_input {
  display: none!important;
}

.pods-form table.form-table tr.pods_horizontal_rule {
  border-bottom: 1px solid #ddd;
}

.pods-form table.form-table tr.pods_horizontal_rule th,
.pods-form table.form-table tr.pods_horizontal_rule td {
  height: 1px;
  padding: 5px 0;
}

.pods-form table.form-table tr.hidden_field,
.pods-form table.form-table h3.hidden_field {
  display: none!important;
}

.pods-form table.form-table tr.pods-field{
  border-top:none;
}

.pods-form table.form-table tr.field-with-title{
  border-top: 1px solid #ececec;
}
